.bord{
    border: .5px dotted rgba(0, 0, 0, .5);
}

html,
body{
    background-color: rgba(245, 245, 245, 0.15);
    height: 99%;
    min-height: 700px;
}

body{
	padding-bottom: 10px;
}

.main-body input{
    width: 60px;
}

.main{
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 95%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5px;
    overflow: auto;
    /*overflow: hidden;*/
}

.main-header{
    text-align: center;
    cursor: default;
	border-bottom: .5px solid rgba(0, 0, 0, .5);
}

#header{
    font-size: 45px;
    font-family: Helvetica, Georgia, Roboto, sans-serif;
	font-weight: 600;
    text-transform: uppercase;
	letter-spacing: 10px;
/*    text-decoration: underline; */
    margin: 0;
    transition: .25s;
}

#header:hover{
    text-shadow: 1px 2.5px 5px rgba(0, 0, 0, .4);
    transition: .15s;
}


.main-body{
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.edit-head,
.edit-body{
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 3px 0;
}

.edit{
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 3px 5px;
}

.edit-def{
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    font-family: Comic Sans MS, Georgia, Helvetica, Roboto, sans-serif;
    padding: 3px 5px;
    width: 150px;
    cursor: default;
}

.edit-input{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: Comic Sans MS, Georgia, Helvetica, Roboto, sans-serif;
    padding: 3px 5px;
}

#collapse-edit-body{
    font-size: 20px;
    padding: 0;
    margin: 0;
    margin-left: 15px;
    cursor: pointer;
}

.edit-body-gear{
    position: absolute;
    top: 5px;
}

.main-blocks{
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    height: 300px;
    border: 2px solid rgba(0, 0, 0, .5);
    border-radius: 10px;
    background-color: white;
    padding: 5px 10px;
}

.block-display{
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border: .5px solid rgba(0, 0, 0, .25);
    border-radius: 5px;
    font-size: 18px;
    box-shadow: .8px 2.5px .15rem 0rem rgba(0, 0, 0, .4);
    text-shadow: 1.5px .5px .5px rgba(0, 0, 0, .25);
    width: 180px;
    height: 60px;
    margin: 3px;
    cursor: default;
}

/*!
  * Bootstrap v4.4.1 (https://getbootstrap.com/)
  * Copyright 2011-2019 The Bootstrap Authors (https://github.com/twbs/bootstrap/graphs/contributors)
  * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
  */

.form-control {
	 display: block;
	 width: 100%;
	 height: calc(1.5em + 0.75rem + 2px);
	 padding: 0.375rem 0.75rem;
	 font-size: 1rem;
	 font-weight: 400;
	 line-height: 1.5;
	 color: #495057;
	 background-color: #fff;
	 background-clip: padding-box;
	 border: 1px solid #ced4da;
	 border-radius: 0.25rem;
	 transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
 @media (prefers-reduced-motion: reduce) {
	 .form-control {
		 transition: none;
	}
}
 .form-control::-ms-expand {
	 background-color: transparent;
	 border: 0;
}
 .form-control:-moz-focusring {
	 color: transparent;
	 text-shadow: 0 0 0 #495057;
}
 .form-control:focus {
	 color: #495057;
	 background-color: #fff;
	 border-color: #80bdff;
	 outline: 0;
	 box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}
 .form-control::placeholder {
	 color: #6c757d;
	 opacity: 1;
}
 .form-control:disabled, .form-control[readonly] {
	 background-color: #e9ecef;
	 opacity: 1;
}
 select.form-control:focus::-ms-value {
	 color: #495057;
	 background-color: #fff;
}
 .form-control-file, .form-control-range {
	 display: block;
	 width: 100%;
}
 .col-form-label {
	 padding-top: calc(0.375rem + 1px);
	 padding-bottom: calc(0.375rem + 1px);
	 margin-bottom: 0;
	 font-size: inherit;
	 line-height: 1.5;
}
 .col-form-label-lg {
	 padding-top: calc(0.5rem + 1px);
	 padding-bottom: calc(0.5rem + 1px);
	 font-size: 1.25rem;
	 line-height: 1.5;
}
 .col-form-label-sm {
	 padding-top: calc(0.25rem + 1px);
	 padding-bottom: calc(0.25rem + 1px);
	 font-size: 0.875rem;
	 line-height: 1.5;
}
 .form-control-plaintext {
	 display: block;
	 width: 100%;
	 padding: 0.375rem 0;
	 margin-bottom: 0;
	 font-size: 1rem;
	 line-height: 1.5;
	 color: #212529;
	 background-color: transparent;
	 border: solid transparent;
	 border-width: 1px 0;
}
 .form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
	 padding-right: 0;
	 padding-left: 0;
}
 .form-control-sm {
	 height: calc(1.5em + 0.5rem + 2px);
	 padding: 0.25rem 0.5rem;
	 font-size: 0.875rem;
	 line-height: 1.5;
	 border-radius: 0.2rem;
}
 .form-control-lg {
	 height: calc(1.5em + 1rem + 2px);
	 padding: 0.5rem 1rem;
	 font-size: 1.25rem;
	 line-height: 1.5;
	 border-radius: 0.3rem;
}
 select.form-control[size], select.form-control[multiple] {
	 height: auto;
}
 textarea.form-control {
	 height: auto;
}
 .form-group {
	 margin-bottom: 1rem;
}
 .form-text {
	 display: block;
	 margin-top: 0.25rem;
}
 .form-row {
	 display: flex;
	 flex-wrap: wrap;
	 margin-right: -5px;
	 margin-left: -5px;
}
 .form-row > .col, .form-row > [class*="col-"] {
	 padding-right: 5px;
	 padding-left: 5px;
}
 .form-check {
	 position: relative;
	 display: block;
	 padding-left: 1.25rem;
}
 .form-check-input {
	 position: absolute;
	 margin-top: 0.3rem;
	 margin-left: -1.25rem;
}
 .form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
	 color: #6c757d;
}
 .form-check-label {
	 margin-bottom: 0;
}
 .form-check-inline {
	 display: inline-flex;
	 align-items: center;
	 padding-left: 0;
	 margin-right: 0.75rem;
}
 .form-check-inline .form-check-input {
	 position: static;
	 margin-top: 0;
	 margin-right: 0.3125rem;
	 margin-left: 0;
}
 .valid-feedback {
	 display: none;
	 width: 100%;
	 margin-top: 0.25rem;
	 font-size: 80%;
	 color: #28a745;
}
 .valid-tooltip {
	 position: absolute;
	 top: 100%;
	 z-index: 5;
	 display: none;
	 max-width: 100%;
	 padding: 0.25rem 0.5rem;
	 margin-top: 0.1rem;
	 font-size: 0.875rem;
	 line-height: 1.5;
	 color: #fff;
	 background-color: rgba(40, 167, 69, .9);
	 border-radius: 0.25rem;
}
 .was-validatedif ~ .valid-feedback, .was-validatedif ~ .valid-tooltip {
	 display: block;
}
 .form-control .was-validatedif {
	 border-color: #28a745;
	 padding-right: calc(1.5em + 0.75rem);
	 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
	 background-repeat: no-repeat;
	 background-position: right calc(0.375em + 0.1875rem) center;
	 background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
 .form-control .was-validatedif:focus {
	 border-color: #28a745;
	 box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, .25);
}
 textarea.form-control .was-validatedif {
	 padding-right: calc(1.5em + 0.75rem);
	 background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}
 .custom-select .was-validatedif {
	 border-color: #28a745;
	 padding-right: calc(0.75em + 2.3125rem);
	 background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center / 8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") #fff no-repeat center right 1.75rem / calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
 .custom-select .was-validatedif:focus {
	 border-color: #28a745;
	 box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, .25);
}
 .form-check-input .was-validatedif ~ .form-check-label {
	 color: #28a745;
}
 .form-check-input .was-validatedif ~ .valid-feedback, .form-check-input .was-validatedif ~ .valid-tooltip {
	 display: block;
}
 .custom-control-input .was-validatedif ~ .custom-control-label {
	 color: #28a745;
}
 .custom-control-input .was-validatedif ~ .custom-control-label::before {
	 border-color: #28a745;
}
 .custom-control-input .was-validatedif:checked ~ .custom-control-label::before {
	 border-color: #34ce57;
	 background-color: #34ce57;
}
 .custom-control-input .was-validatedif:focus ~ .custom-control-label::before {
	 box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, .25);
}
 .custom-control-input .was-validatedif:focus:not(:checked) ~ .custom-control-label::before {
	 border-color: #28a745;
}
 .custom-file-input .was-validatedif ~ .custom-file-label {
	 border-color: #28a745;
}
 .custom-file-input .was-validatedif:focus ~ .custom-file-label {
	 border-color: #28a745;
	 box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, .25);
}
 .invalid-feedback {
	 display: none;
	 width: 100%;
	 margin-top: 0.25rem;
	 font-size: 80%;
	 color: #dc3545;
}
 .invalid-tooltip {
	 position: absolute;
	 top: 100%;
	 z-index: 5;
	 display: none;
	 max-width: 100%;
	 padding: 0.25rem 0.5rem;
	 margin-top: 0.1rem;
	 font-size: 0.875rem;
	 line-height: 1.5;
	 color: #fff;
	 background-color: rgba(220, 53, 69, .9);
	 border-radius: 0.25rem;
}
 .was-validatedif ~ .invalid-feedback, .was-validatedif ~ .invalid-tooltip {
	 display: block;
}
 .form-control .was-validatedif {
	 border-color: #dc3545;
	 padding-right: calc(1.5em + 0.75rem);
	 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
	 background-repeat: no-repeat;
	 background-position: right calc(0.375em + 0.1875rem) center;
	 background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
 .form-control .was-validatedif:focus {
	 border-color: #dc3545;
	 box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
}
 textarea.form-control .was-validatedif {
	 padding-right: calc(1.5em + 0.75rem);
	 background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}
 .custom-select .was-validatedif {
	 border-color: #dc3545;
	 padding-right: calc(0.75em + 2.3125rem);
	 background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center / 8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") #fff no-repeat center right 1.75rem / calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
 .custom-select .was-validatedif:focus {
	 border-color: #dc3545;
	 box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
}
 .form-check-input .was-validatedif ~ .form-check-label {
	 color: #dc3545;
}
 .form-check-input .was-validatedif ~ .invalid-feedback, .form-check-input .was-validatedif ~ .invalid-tooltip {
	 display: block;
}
 .custom-control-input .was-validatedif ~ .custom-control-label {
	 color: #dc3545;
}
 .custom-control-input .was-validatedif ~ .custom-control-label::before {
	 border-color: #dc3545;
}
 .custom-control-input .was-validatedif:checked ~ .custom-control-label::before {
	 border-color: #e4606d;
	 background-color: #e4606d;
}
 .custom-control-input .was-validatedif:focus ~ .custom-control-label::before {
	 box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
}
 .custom-control-input .was-validatedif:focus:not(:checked) ~ .custom-control-label::before {
	 border-color: #dc3545;
}
 .custom-file-input .was-validatedif ~ .custom-file-label {
	 border-color: #dc3545;
}
 .custom-file-input .was-validatedif:focus ~ .custom-file-label {
	 border-color: #dc3545;
	 box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
}
 .form-inline {
	 display: flex;
	 flex-flow: row wrap;
	 align-items: center;
}
 .form-inline .form-check {
	 width: 100%;
}
 @media (min-width: 576px) {
	 .form-inline label {
		 display: flex;
		 align-items: center;
		 justify-content: center;
		 margin-bottom: 0;
	}
	 .form-inline .form-group {
		 display: flex;
		 flex: 0 0 auto;
		 flex-flow: row wrap;
		 align-items: center;
		 margin-bottom: 0;
	}
	 .form-inline .form-control {
		 display: inline-block;
		 width: auto;
		 vertical-align: middle;
	}
	 .form-inline .form-control-plaintext {
		 display: inline-block;
	}
	 .form-inline .input-group, .form-inline .custom-select {
		 width: auto;
	}
	 .form-inline .form-check {
		 display: flex;
		 align-items: center;
		 justify-content: center;
		 width: auto;
		 padding-left: 0;
	}
	 .form-inline .form-check-input {
		 position: relative;
		 flex-shrink: 0;
		 margin-top: 0;
		 margin-right: 0.25rem;
		 margin-left: 0;
	}
	 .form-inline .custom-control {
		 align-items: center;
		 justify-content: center;
	}
	 .form-inline .custom-control-label {
		 margin-bottom: 0;
	}
}
 .btn {
	 display: inline-block;
	 font-weight: 400;
	 color: #212529;
	 text-align: center;
	 vertical-align: middle;
	 cursor: pointer;
	 user-select: none;
	 background-color: transparent;
	 border: 1px solid transparent;
	 padding: 0.375rem 0.75rem;
	 font-size: 1rem;
	 line-height: 1.5;
	 border-radius: 0.25rem;
	 transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
 @media (prefers-reduced-motion: reduce) {
	 .btn {
		 transition: none;
	}
}
 .btn:hover {
	 color: #212529;
	 text-decoration: none;
}
 .btn:focus, .btn.focus {
	 outline: 0;
	 box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}
 .btn.disabled, .btn:disabled {
	 opacity: 0.65;
}
 a.btn.disabled, fieldset:disabled a.btn {
	 pointer-events: none;
}
 .btn-primary {
	 color: #fff;
	 background-color: #007bff;
	 border-color: #007bff;
}
 .btn-primary:hover {
	 color: #fff;
	 background-color: #0069d9;
	 border-color: #0062cc;
}
 .btn-primary:focus, .btn-primary.focus {
	 color: #fff;
	 background-color: #0069d9;
	 border-color: #0062cc;
	 box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, .5);
}
 .btn-primary.disabled, .btn-primary:disabled {
	 color: #fff;
	 background-color: #007bff;
	 border-color: #007bff;
}
 .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
	 color: #fff;
	 background-color: #0062cc;
	 border-color: #005cbf;
}
 .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
	 box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, .5);
}
 .btn-secondary {
	 color: #fff;
	 background-color: #6c757d;
	 border-color: #6c757d;
}
 .btn-secondary:hover {
	 color: #fff;
	 background-color: #5a6268;
	 border-color: #545b62;
}
 .btn-secondary:focus, .btn-secondary.focus {
	 color: #fff;
	 background-color: #5a6268;
	 border-color: #545b62;
	 box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, .5);
}
 .btn-secondary.disabled, .btn-secondary:disabled {
	 color: #fff;
	 background-color: #6c757d;
	 border-color: #6c757d;
}
 .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
	 color: #fff;
	 background-color: #545b62;
	 border-color: #4e555b;
}
 .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
	 box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, .5);
}
 .btn-success {
	 color: #fff;
	 background-color: #28a745;
	 border-color: #28a745;
}
 .btn-success:hover {
	 color: #fff;
	 background-color: #218838;
	 border-color: #1e7e34;
}
 .btn-success:focus, .btn-success.focus {
	 color: #fff;
	 background-color: #218838;
	 border-color: #1e7e34;
	 box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, .5);
}
 .btn-success.disabled, .btn-success:disabled {
	 color: #fff;
	 background-color: #28a745;
	 border-color: #28a745;
}
 .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
	 color: #fff;
	 background-color: #1e7e34;
	 border-color: #1c7430;
}
 .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus {
	 box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, .5);
}
 .btn-info {
	 color: #fff;
	 background-color: #17a2b8;
	 border-color: #17a2b8;
}
 .btn-info:hover {
	 color: #fff;
	 background-color: #138496;
	 border-color: #117a8b;
}
 .btn-info:focus, .btn-info.focus {
	 color: #fff;
	 background-color: #138496;
	 border-color: #117a8b;
	 box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, .5);
}
 .btn-info.disabled, .btn-info:disabled {
	 color: #fff;
	 background-color: #17a2b8;
	 border-color: #17a2b8;
}
 .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
	 color: #fff;
	 background-color: #117a8b;
	 border-color: #10707f;
}
 .btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus, .show > .btn-info.dropdown-toggle:focus {
	 box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, .5);
}
 .btn-warning {
	 color: #212529;
	 background-color: #ffc107;
	 border-color: #ffc107;
}
 .btn-warning:hover {
	 color: #212529;
	 background-color: #e0a800;
	 border-color: #d39e00;
}
 .btn-warning:focus, .btn-warning.focus {
	 color: #212529;
	 background-color: #e0a800;
	 border-color: #d39e00;
	 box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, .5);
}
 .btn-warning.disabled, .btn-warning:disabled {
	 color: #212529;
	 background-color: #ffc107;
	 border-color: #ffc107;
}
 .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
	 color: #212529;
	 background-color: #d39e00;
	 border-color: #c69500;
}
 .btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus, .show > .btn-warning.dropdown-toggle:focus {
	 box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, .5);
}
 .btn-danger {
	 color: #fff;
	 background-color: #dc3545;
	 border-color: #dc3545;
}
 .btn-danger:hover {
	 color: #fff;
	 background-color: #c82333;
	 border-color: #bd2130;
}
 .btn-danger:focus, .btn-danger.focus {
	 color: #fff;
	 background-color: #c82333;
	 border-color: #bd2130;
	 box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, .5);
}
 .btn-danger.disabled, .btn-danger:disabled {
	 color: #fff;
	 background-color: #dc3545;
	 border-color: #dc3545;
}
 .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show > .btn-danger.dropdown-toggle {
	 color: #fff;
	 background-color: #bd2130;
	 border-color: #b21f2d;
}
 .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-danger.dropdown-toggle:focus {
	 box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, .5);
}
 .btn-light {
	 color: #212529;
	 background-color: #f8f9fa;
	 border-color: #f8f9fa;
}
 .btn-light:hover {
	 color: #212529;
	 background-color: #e2e6ea;
	 border-color: #dae0e5;
}
 .btn-light:focus, .btn-light.focus {
	 color: #212529;
	 background-color: #e2e6ea;
	 border-color: #dae0e5;
	 box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, .5);
}
 .btn-light.disabled, .btn-light:disabled {
	 color: #212529;
	 background-color: #f8f9fa;
	 border-color: #f8f9fa;
}
 .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
	 color: #212529;
	 background-color: #dae0e5;
	 border-color: #d3d9df;
}
 .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
	 box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, .5);
}
 .btn-dark {
	 color: #fff;
	 background-color: #343a40;
	 border-color: #343a40;
}
 .btn-dark:hover {
	 color: #fff;
	 background-color: #23272b;
	 border-color: #1d2124;
}
 .btn-dark:focus, .btn-dark.focus {
	 color: #fff;
	 background-color: #23272b;
	 border-color: #1d2124;
	 box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, .5);
}
 .btn-dark.disabled, .btn-dark:disabled {
	 color: #fff;
	 background-color: #343a40;
	 border-color: #343a40;
}
 .btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active, .show > .btn-dark.dropdown-toggle {
	 color: #fff;
	 background-color: #1d2124;
	 border-color: #171a1d;
}
 .btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-dark.dropdown-toggle:focus {
	 box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, .5);
}
 .btn-outline-primary {
	 color: #007bff;
	 border-color: #007bff;
}
 .btn-outline-primary:hover {
	 color: #fff;
	 background-color: #007bff;
	 border-color: #007bff;
}
 .btn-outline-primary:focus, .btn-outline-primary.focus {
	 box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .5);
}
 .btn-outline-primary.disabled, .btn-outline-primary:disabled {
	 color: #007bff;
	 background-color: transparent;
}
 .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
	 color: #fff;
	 background-color: #007bff;
	 border-color: #007bff;
}
 .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
	 box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .5);
}
 .btn-outline-secondary {
	 color: #6c757d;
	 border-color: #6c757d;
}
 .btn-outline-secondary:hover {
	 color: #fff;
	 background-color: #6c757d;
	 border-color: #6c757d;
}
 .btn-outline-secondary:focus, .btn-outline-secondary.focus {
	 box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, .5);
}
 .btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
	 color: #6c757d;
	 background-color: transparent;
}
 .btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
	 color: #fff;
	 background-color: #6c757d;
	 border-color: #6c757d;
}
 .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
	 box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, .5);
}
 .btn-outline-success {
	 color: #28a745;
	 border-color: #28a745;
}
 .btn-outline-success:hover {
	 color: #fff;
	 background-color: #28a745;
	 border-color: #28a745;
}
 .btn-outline-success:focus, .btn-outline-success.focus {
	 box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, .5);
}
 .btn-outline-success.disabled, .btn-outline-success:disabled {
	 color: #28a745;
	 background-color: transparent;
}
 .btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
	 color: #fff;
	 background-color: #28a745;
	 border-color: #28a745;
}
 .btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
	 box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, .5);
}
 .btn-outline-info {
	 color: #17a2b8;
	 border-color: #17a2b8;
}
 .btn-outline-info:hover {
	 color: #fff;
	 background-color: #17a2b8;
	 border-color: #17a2b8;
}
 .btn-outline-info:focus, .btn-outline-info.focus {
	 box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, .5);
}
 .btn-outline-info.disabled, .btn-outline-info:disabled {
	 color: #17a2b8;
	 background-color: transparent;
}
 .btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active, .show > .btn-outline-info.dropdown-toggle {
	 color: #fff;
	 background-color: #17a2b8;
	 border-color: #17a2b8;
}
 .btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-info.dropdown-toggle:focus {
	 box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, .5);
}
 .btn-outline-warning {
	 color: #ffc107;
	 border-color: #ffc107;
}
 .btn-outline-warning:hover {
	 color: #212529;
	 background-color: #ffc107;
	 border-color: #ffc107;
}
 .btn-outline-warning:focus, .btn-outline-warning.focus {
	 box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, .5);
}
 .btn-outline-warning.disabled, .btn-outline-warning:disabled {
	 color: #ffc107;
	 background-color: transparent;
}
 .btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active, .show > .btn-outline-warning.dropdown-toggle {
	 color: #212529;
	 background-color: #ffc107;
	 border-color: #ffc107;
}
 .btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-warning.dropdown-toggle:focus {
	 box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, .5);
}
 .btn-outline-danger {
	 color: #dc3545;
	 border-color: #dc3545;
}
 .btn-outline-danger:hover {
	 color: #fff;
	 background-color: #dc3545;
	 border-color: #dc3545;
}
 .btn-outline-danger:focus, .btn-outline-danger.focus {
	 box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .5);
}
 .btn-outline-danger.disabled, .btn-outline-danger:disabled {
	 color: #dc3545;
	 background-color: transparent;
}
 .btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active, .show > .btn-outline-danger.dropdown-toggle {
	 color: #fff;
	 background-color: #dc3545;
	 border-color: #dc3545;
}
 .btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-danger.dropdown-toggle:focus {
	 box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .5);
}
 .btn-outline-light {
	 color: #f8f9fa;
	 border-color: #f8f9fa;
}
 .btn-outline-light:hover {
	 color: #212529;
	 background-color: #f8f9fa;
	 border-color: #f8f9fa;
}
 .btn-outline-light:focus, .btn-outline-light.focus {
	 box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, .5);
}
 .btn-outline-light.disabled, .btn-outline-light:disabled {
	 color: #f8f9fa;
	 background-color: transparent;
}
 .btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active, .show > .btn-outline-light.dropdown-toggle {
	 color: #212529;
	 background-color: #f8f9fa;
	 border-color: #f8f9fa;
}
 .btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-light.dropdown-toggle:focus {
	 box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, .5);
}
 .btn-outline-dark {
	 color: #343a40;
	 border-color: #343a40;
}
 .btn-outline-dark:hover {
	 color: #fff;
	 background-color: #343a40;
	 border-color: #343a40;
}
 .btn-outline-dark:focus, .btn-outline-dark.focus {
	 box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, .5);
}
 .btn-outline-dark.disabled, .btn-outline-dark:disabled {
	 color: #343a40;
	 background-color: transparent;
}
 .btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active, .show > .btn-outline-dark.dropdown-toggle {
	 color: #fff;
	 background-color: #343a40;
	 border-color: #343a40;
}
 .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-dark.dropdown-toggle:focus {
	 box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, .5);
}
 .btn-link {
	 font-weight: 400;
	 color: #007bff;
	 text-decoration: none;
}
 .btn-link:hover {
	 color: #0056b3;
	 text-decoration: underline;
}
 .btn-link:focus, .btn-link.focus {
	 text-decoration: underline;
	 box-shadow: none;
}
 .btn-link:disabled, .btn-link.disabled {
	 color: #6c757d;
	 pointer-events: none;
}
 .btn-lg, .btn-group-lg > .btn {
	 padding: 0.5rem 1rem;
	 font-size: 1.25rem;
	 line-height: 1.5;
	 border-radius: 0.3rem;
}
 .btn-sm, .btn-group-sm > .btn {
	 padding: 0.25rem 0.5rem;
	 font-size: 0.875rem;
	 line-height: 1.5;
	 border-radius: 0.2rem;
}
 .btn-block {
	 display: block;
	 width: 100%;
}
 .btn-block + .btn-block {
	 margin-top: 0.5rem;
}
 input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
	 width: 100%;
}
 .btn-group, .btn-group-vertical {
	 position: relative;
	 display: inline-flex;
	 vertical-align: middle;
}
 .btn-group > .btn, .btn-group-vertical > .btn {
	 position: relative;
	 flex: 1 1 auto;
}
 .btn-group > .btn:hover, .btn-group-vertical > .btn:hover {
	 z-index: 1;
}
 .btn-group > .btn:focus, .btn-group-vertical > .btn:focus, .btn-group > .btn:active, .btn-group-vertical > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn.active {
	 z-index: 1;
}
 .btn-toolbar {
	 display: flex;
	 flex-wrap: wrap;
	 justify-content: flex-start;
}
 .btn-toolbar .input-group {
	 width: auto;
}
 .btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) {
	 margin-left: -1px;
}
 .btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn {
	 border-top-right-radius: 0;
	 border-bottom-right-radius: 0;
}
 .btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) > .btn {
	 border-top-left-radius: 0;
	 border-bottom-left-radius: 0;
}
 .dropdown-toggle-split {
	 padding-right: 0.5625rem;
	 padding-left: 0.5625rem;
}
 .dropdown-toggle-split::after, .dropup .dropdown-toggle-split::after, .dropright .dropdown-toggle-split::after {
	 margin-left: 0;
}
 .dropleft .dropdown-toggle-split::before {
	 margin-right: 0;
}
 .btn-sm + .dropdown-toggle-split, .btn-group-sm > .btn + .dropdown-toggle-split {
	 padding-right: 0.375rem;
	 padding-left: 0.375rem;
}
 .btn-lg + .dropdown-toggle-split, .btn-group-lg > .btn + .dropdown-toggle-split {
	 padding-right: 0.75rem;
	 padding-left: 0.75rem;
}
 .btn-group-vertical {
	 flex-direction: column;
	 align-items: flex-start;
	 justify-content: center;
}
 .btn-group-vertical > .btn, .btn-group-vertical > .btn-group {
	 width: 100%;
}
 .btn-group-vertical > .btn:not(:first-child), .btn-group-vertical > .btn-group:not(:first-child) {
	 margin-top: -1px;
}
 .btn-group-vertical > .btn:not(:last-child):not(.dropdown-toggle), .btn-group-vertical > .btn-group:not(:last-child) > .btn {
	 border-bottom-right-radius: 0;
	 border-bottom-left-radius: 0;
}
 .btn-group-vertical > .btn:not(:first-child), .btn-group-vertical > .btn-group:not(:first-child) > .btn {
	 border-top-left-radius: 0;
	 border-top-right-radius: 0;
}
 .btn-group-toggle > .btn, .btn-group-toggle > .btn-group > .btn {
	 margin-bottom: 0;
}
 .btn-group-toggle > .btn input[type="radio"], .btn-group-toggle > .btn-group > .btn input[type="radio"], .btn-group-toggle > .btn input[type="checkbox"], .btn-group-toggle > .btn-group > .btn input[type="checkbox"] {
	 position: absolute;
	 clip: rect(0, 0, 0, 0);
	 pointer-events: none;
}
 
